

<footer class="page-footer deep-purple center-on-small-only pt-0 footerdesign">

  <!--Footer Links-->
  <div class="container">

    <!--Grid row-->
    <div class="row pt-5 mb-3 text-center d-flex justify-content-center">


      <div class="col-md-2 mb-3 footerfont">
        <h2 class="title font-bold"><a class="footerfont" href="#!">About us</a></h2>
      </div>

      <div class="col-md-2 mb-3 footerfont">
        <h2 class="title font-bold"><a class="footerfont" href="#!">FAQ</a></h2>
      </div>

      <div class="col-md-2 mb-3 footerfont">
        <h2 class="title font-bold"><a class="footerfont" href="#!">Contact Us</a></h2>
      </div>

      <div class="col-md-2 mb-3 footerfont">
        <h2 class="title font-bold"><a class="footerfont" href="#!">Notifications</a></h2>
      </div>

      <div class="col-md-2 mb-3 footerfont">
        <h2 class="footerfont"><a class="footerfont" href="#!">Feedback</a></h2>
      </div>


    </div>


  </div>

</footer>
